@model PagedList.IPagedList<Ashraful_MVCProject.Models.Publisher>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";

}

<h2>Publisher Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find By Publisher Name: @Html.TextBox("searchString")
        <input class="btn btn-success" type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("PublisherName", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PublisherID }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Details", "Details", new { id = item.PublisherID }, new { @class = "btn btn-info" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.PublisherID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<br />

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
   new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }
   ))